extends layout

block content
    script(src='/scripts/app.js')
    script(type='text/javascript').
        var channel = '#{hash}';

    div.container
        div.row
            div.col-md-12.text-center
                h1 Game Quizz

    div.container
        div.row.visible-lg
            div.col-md-6
                div.panel.panel-default
                    div.panel-heading.text-center
                        strong Play game Option 1
                    div.panel-body.text-center
                        h1 Scan this QR code with your smartphone
                        img(src='#{qr}')

            div.col-md-6
                div.panel.panel-default
                    div.panel-heading.text-center
                        strong Play game Option 2
                    div.panel-body.text-center
                        h1 You can´t scan the QR code? Follow this steps
                        
                        h3 1º Enter this URL into your smartphone browser
                        p.label-info.label-grande http://bit.ly/gcquizz
                        
                        h3 2º Enter the code below
                        p.label-success.label-grande #{hash}

        div.row.hidden-lg
            div.col-md-6.col-md-offset-4
                div.panel.panel-default
                    div.panel-heading.text-center
                        strong Play game Option 2
                    div.panel-body
                        input#code-room(placeholder='code room')
                        br
                        button#gotoroom.btn.btn-lg.btn-primary Start to play


        div.row.visible-lg
            h1.text-center Players
            div#users
        div.row.visible-lg.text-center.no-players
            h1 Currently there are no players connected.
        div.row.visible-lg
            div.col-md-12.text-center
                button#gotoplay(onclick='location.href = \'#{url}\';')(disabled="disabled").btn.btn-lg.btn-primary Start to play

