doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/jquery-1.12.0.min.js')
    script(src='/socket.io/socket.io.js')
  body
    block content
