doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Ubuntu:400,500,400italic')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/jquery-1.12.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/bootstrap/bootstrap.min.js')
  body
    block content
