extends layout

block content
  script(src='/scripts/monitor.js')
  script.
        var channel = '#{hash}';
        var questions = !{JSON.stringify(questions)};
  div#timer
    span
  div#question
    span
  div#answers
    div#answer1.answer
        span
    div#answer2.answer
        span
    div#answer3.answer
        span
    div#answer4.answer
        span