extends layout

block content
  script(src='/scripts/monitor.js')
  script.
        var channel = '#{hash}';
        var questions = !{JSON.stringify(questions)};
  div.container
    div.row.questionrow
      div.col-md-12
        div.box
          div.icon
            div.image
              i.fa.fa-question
            div.info
              div#question
                span.title Pregunta a responder
          div.space

    div.row.questionrow
      div.col-md-12
        div.progress
          div(aria-valuenow='100', aria-valuemin='100', aria-valuemax='100', role='progressbar', style='width: 100%;').progress-bar
            span.sr-only 100% Complete
          span.progress-type Time left 
            span
          span.progress-completed 100%

    div.row.form-group.questionrow
      div.col-md-6
        div.input-group
          span.input-group-addon.blue
            span.glyphicon.glyphicon-star
          div#answer1.form-control.blue.answer.text-center
      div.col-md-6
        div.input-group
          span.input-group-addon.orange
            span.glyphicon.glyphicon-star
          div#answer2.form-control.orange.answer.text-center

    div.row.form-group.questionrow
      div.col-md-6
        div.input-group
          span.input-group-addon.purple
            span.glyphicon.glyphicon-star
          div#answer3.form-control.purple.answer.text-center
      div.col-md-6
        div.input-group
          span.input-group-addon.red
            span.glyphicon.glyphicon-star
          div#answer4.form-control.red.answer.text-center

    div#results-container.text-center.row(style="display: none;")
      div#ribbon-wrapper.col-md-16.hidden
         button.btn.btn-primary.ribbon Final Ranking
      div#results.text-left
      button#playagain(onclick='location.reload();').btn.btn-lg.btn-primary Play Again



