extends layout

block content
  script(src='/scripts/monitor.js')
  script.
        var channel = '#{hash}';
  h1= title
  p Monitor
  p monitor of gamers

  script.
    var channel = '#{hash}';
  p channel= #{hash}
  script(src='/scripts/app.js')
