extends layout

block content
  script(src='/scripts/monitor.js')
  script.
        var channel = '#{hash}';
        var questions = !{JSON.stringify(questions)};

  div#question
    span
  div#answers
    div#answer1
        span
    div#answer2
        span
    div#answer3
        span
    div#answer4
        span