html, body, #game, #init, #waiting, #endgame{
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;

}

#init{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #000;
    display: table;
}

#init input, #init button{
    width: 90%;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

#init div{
    display: table-cell;
    vertical-align: middle;
}

#waiting{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #000;
    display: table;
}

#waiting div{
    display: table-cell;
    vertical-align: middle;
}




#header{
    display: table;
    width: 100%;
    height: 15%;
    background-color:#424040;
}

#header div{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

#header span{
    color: #fff;
    font-size: 2em;
}

#controls{
    width: 100%;
    height: 85%;
}

#endgame{
    text-align: center;
    font-weight: bold;
    color: #000;
    display: table;
}

#endgame div{
    display: table-cell;
    vertical-align: middle;
    background-color: #5B7CF3;
}

#endgame #position{
    font-size: 25em;
    color: #fff;
}

#endgame #points{
    font-size: 3em;
    color: #fff;
}

.quizzbutton{
    display: table;
    width: 100%;
    height: 25%;
}

.quizzbutton span{
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
    display: table-cell;
    font-size: 2.5em;
}


.blue{
    background-color: #005DBE;
}

.blue.lock{
    background-color: #032548;
}

.blue.lock.answered{
    background-color: #0C83FF;
}

.orange{
    background-color: #F6A109;
}

.orange.lock{
    background-color: #5F3D03;
}

.orange.lock.answered{
    background-color: #FFAF21;
}

.purple{
    background-color: #7406B9;
}

.purple.lock{
    background-color: #210135;
}

.purple.lock.answered{
    background-color: #A30FFF;
}

.red{
    background-color: #E90000;
}

.red.lock{
    background-color: #310000;
}

.red.lock.answered{
    background-color: #FF0101;
}

#splashpoint{
    display: table;
    width: 100%;
    height: 100%;
    background-color: #34A92C;
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 3em;
    text-align: center;
}

#splashpoint div{
    display: table-cell;
    vertical-align: middle;
}

#splashpoint.error{
    width: 100%;
    height: 100%;
    background-color: #A01B1B;
    position: absolute;
    top: 0;
    color: #fff;
}