body {
  padding: 50px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

a {
  color: #00B7FF;
}

.correct{
    background-color: #006600;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.label-grande {
	font-size: 1.3em;
	padding: 5px;
}