body {
  padding: 50px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

a {
  color: #00B7FF;
}

.correct{
    background-color: #5cb85c;
    color: white;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.label-grande {
	font-size: 2.5em;
	padding: 20px;
	color:white;
}

#users .user {
    margin: 25px 0px 5px 0px;
    padding: 10px;
}

#users .user div{
    border: 1px solid #ccc;
}

#users .user .user-name {
	font-size: 3em;
    padding-left: 1em;
}

#gotoplay{
    margin-top: 30px;
}

#code-room,#gotoroom{
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 10px;
}

@media (max-width: 800px) {
    body {
        padding: 20px;
    }
}

/*
	Progress bar
*/
.progress {
    position: relative;
	height: 25px;
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 800;
	padding: 3px 30px 2px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 800;
	padding: 3px 10px 2px;
}

/*
	Box questions
*/
.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #63B76C; vertical-align: middle; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box .space { height: 30px; }

.box > .icon > .info {
	padding: 2.5em;
}

#question .title { font-size: 3em; }

/*
	Questions	
*/
.input-group-addon.blue {
    color: rgb(255, 255, 255);
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.input-group-addon.orange {
    color: rgb(255, 255, 255);
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
.input-group-addon.purple {
    color: rgb(255, 255, 255);
    background-color: #7406B9;
    border-color: #7406B9;
}
.input-group-addon.red {
    color: rgb(255, 255, 255);
    background-color: #d9534f;
    border-color: #d9534f;
}

.form-control {
	height: auto;
	padding: 1em;
	font-size: 2em;
}
.form-control.blue { border: 1em solid #5bc0de; }
.form-control.orange { border: 1em solid #f0ad4e; }
.form-control.purple { border: 1em solid #7406B9; }
.form-control.red { border: 1em solid #d9534f; }

.input-group-addon {
	font-size: 2em;
}


